@charset "UTF-8"; 

/* 
verde: #49a09d
lilás: #5f2c82 
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

:root {
    --color1: #4ba5a2;    
    --color1-light: #4cb4b1;
    --color2: #5f2c82;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: var(--color2);
    text-align: center;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.162);
    min-width: 300px;
}

div.image {
    height: 250px;
    width: 100%;
    background: var(--color2) url("../imagens/pexels-sean-whang-25006-804269.jpg") center center no-repeat fixed;
    background-size: cover; 
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.288);
    margin-bottom: 14px;
}


h1 {
    margin-bottom: 6px;
    font-size: 1.7em;
}

p {
    text-align: justify;
    margin-bottom: 1em;
}

form {
    padding: 12px;
}

.background-input, #submit, button {
    width: 100%;
}

.background-input {
    background-color: var(--color2);
    border-radius: 10px;
    margin: 0px auto 2px;
}

label {
    display: block;
    color: white;
}

input, button {
    margin: 6px auto;
    padding: 0.5em;
    font-size: 1em;
}

div input {
    width: 82%;
    margin-right: -0.5em;
    border-radius: 9px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.282) inset;
    font-size: 13.5px;
}

div input:focus {
    outline: none;
    border: 2px solid black;
    transition: all 0.5s;
}

#submit {
    background-color: var(--color1);
    color: white;
    border: none;
    display: block;
}

#submit:hover {
    background-color: var(--color1-light);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

button {
    background: none;
    border: 1px solid var(--color1);
    color: var(--color1);
    margin-bottom: 1em;
}

button:hover {
    background-color: var(--color1);
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    /* font-weight: bold; */
}